.btn {
    display: flex;
    flex-direction: column;
    /* Affiche les éléments en colonne */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.button {
    display: block;
    margin: 0px auto 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 44px;
    width: 382px;
    text-align: center;
    height: 60px;


}

.button_container_1 {
    display: flex;
    justify-content: space-between;
    padding: 20% 0% 0% 5%;
    margin: 30% 5% 0% 5%;


}

.button_container_2 {
    display: flex;
    justify-content: space-between;
    padding: 0% 0% 0% 5%;
    margin: 0% 5% 0% 5%;


}

.button_container_3 {
    display: flex;
    justify-content: space-between;
    padding: 0% 0% 0% 5%;
    margin: 0% 5% 0% 5%;


}




.primary {
    background-color: #337D74;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.secondary {
    background-color: #FFFFFF;
    color: #337D74;
    border: 1px solid #337D74;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.tertiary {
    background-color: #FFFFFF;
    color: #337D74;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}



/* ButtonComponent.css */