/* Ajoutez 'Montserrat' à votre classe .list-container et autres sélecteurs */

.list-container {
  width: 100%;
}

.ingredients-title {
  text-decoration: underline;
  color: black;
  font-size: 32px; /* Ajuster la taille du titre selon vos besoins */
  font-weight: 400; /* Ajuster la marge à gauche du titre */
  font-family: 'Montserrat', sans-serif; /* Utiliser la police Montserrat */
  text-align: left;
  padding-left: 30px; /* Ajouter un padding à gauche pour l'écart avec le point */
  /* Ajouter d'autres styles personnalisés si nécessaire */
}

.ingredients-title-2 {
  color: black;
  font-size: 16px; /* Ajuster la taille du titre selon vos besoins */
  font-weight: 400; /* Ajuster la marge à gauche du titre */
  font-family: 'Montserrat', sans-serif; /* Utiliser la police Montserrat */
  text-align: left;
  padding-left: 30px; /* Ajouter un padding à gauche pour l'écart avec le point */
  /* Ajouter d'autres styles personnalisés si nécessaire */
}

.ingredients-list {
  margin-top: 32px; /* Ajouter un espacement en haut de la liste si nécessaire */
  padding-left: 30px; /* Ajouter un padding à gauche pour l'écart avec le point */
  font-family: 'Montserrat', sans-serif; /* Utiliser la police Montserrat */
  font-weight: 400; /* Ajuster la marge à gauche du titre */
  /* Ajouter d'autres styles personnalisés si nécessaire */
}

.ingredients-list li {
  list-style-type: none; /* Supprimer le style de liste par défaut (point) */
  margin-bottom: 15px; /* Ajouter un espacement entre chaque ingrédient */
  text-align: left; /* Aligner le texte à gauche */
  font-family: 'Montserrat', sans-serif; /* Utiliser la police Montserrat */
  /* Ajouter d'autres styles personnalisés si nécessaire */
}
