@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

.recipe-card img {
    width: 120px;
    /* Remplacez par la largeur souhaitée */
    height: 120px;
    /* Remplacez par la hauteur souhaitée */
    object-fit: cover;
    margin-top: 30px;
}

.recipe-card {
    width: 200px;
    /* Ajustez à la largeur souhaitée */
    padding: 0px 0px 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.title-button {
    border-radius: 44px;
    width: 160px;
    /* Ajustez à la largeur souhaitée */
    text-align: center;
    background-color: #513939;
    color: #FFFFFF;
    margin: 20px 10px 10px 10px;
    padding: 5px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.description-button {
    width: 160px;
    /* Ajustez à la largeur souhaitée */
    text-align: center;
    color: #000000;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.recipe-card p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin: 15px;
    /* Ajoutez vos autres styles ici */
}

.heart-icon-container {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-icon {
    position: absolute;
    font-size: 30px;
}