/* Ajoutez 'Montserrat' à votre classe .list-container et autres sélecteurs */

.list-container {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  margin-left: 15px; /* Ajuster la marge à gauche du conteneur */
  font-family: 'Montserrat', sans-serif; /* Utiliser la police Montserrat */
  /* Ajouter d'autres styles personnalisés si nécessaire */
}

.ingredients-title {
  text-decoration: underline;
  color: black;
  font-size: 24px; /* Ajuster la taille du titre selon vos besoins */
  top: -30px; /* Ajuster la position verticale du titre par rapport au conteneur */
  margin-left: 200px;
  font-weight: normal !important; /* Ajuster la marge à gauche du titre */
  font-family: 'Montserrat', sans-serif; /* Utiliser la police Montserrat */
  /* Ajouter d'autres styles personnalisés si nécessaire */
}

.ingredients-list {
  margin-top: 100px; /* Ajouter un espacement en haut de la liste si nécessaire */
  padding-left: 30px; /* Ajouter un padding à gauche pour l'écart avec le point */
  font-family: 'Montserrat', sans-serif; /* Utiliser la police Montserrat */
  /* Ajouter d'autres styles personnalisés si nécessaire */
}

.ingredients-list li {
  list-style-type: none; /* Supprimer le style de liste par défaut (point) */
  margin-bottom: 15px; /* Ajouter un espacement entre chaque ingrédient */
  text-align: left; /* Aligner le texte à gauche */
  font-family: 'Montserrat', sans-serif; /* Utiliser la police Montserrat */
  /* Ajouter d'autres styles personnalisés si nécessaire */
}
